/* reset margini */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset stile liste */
ul, ol, menu {
    list-style: none;
}

header {
    padding: 20px 15px;
}

.content {
    padding: 30px 0
}

h3 {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10%;
    padding: 5px;
    margin-bottom: 20px;
}

.task {
    background-color: rgb(29, 60, 235);
    border-color: rgb(29, 60, 235);
}
/* aggiungi sempre una max-width e se la tabella è centrata metti margin 0 auto */
.container {
    max-width: 800px;
    margin-left: 300px;
}

span {
    display: inline-block;
    margin: 10px 10px;
    vertical-align: middle;
}

ul > li {
    vertical-align: middle;
}

ul {
    margin-bottom: 20px;
}

.arrow {
    font-size: 15px;
}

.icon {
    border: 1px solid currentColor;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    width: 25px;
    padding: 2px;
    line-height: 18px;
    text-align: center;
}

.checkmark {
    color: green;
}

.cross {
    color: #c9250fe8;
}

.label {
    border-radius: 45px;
    display: inline-block;
    width: auto;
    height: auto;
}

.editorial {
    background-color: lightblue;
    padding: 10px 15px;
}

.goals {
    background-color: purple;
    padding: 10px 15px;
}

.recruiting {
    background-color: green;
    padding: 10px 15px;
}

.mobile {
    background-color: yellow;
    padding: 10px 15px;
}

.website {
    background-color: pink;
    padding: 10px 15px;
}

.sales {
    background-color: yellowgreen;
    padding: 10px 15px;
}