/* reset margini */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset stile liste */
ul, ol, menu {
    list-style: none;
}

header {
    padding: 20px 15px;
}

.content {
    padding: 30px 0
}

/* aggiungi sempre una max-width e se la tabella è centrata metti margin 0 auto */
.container {
    max-width: 800px;
    margin-left: 300px;
}

span {
    padding: 0 auto;
}

.checkmark {
    color: #0fc919;
    border: 1px solid #0fc919;   
    border-radius: 50%;
    justify-content: center;
}

ul > li {
    vertical-align: middle;
}