/* reset margini */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset stile liste */
ul, ol, menu {
    list-style: none;
}

header {
    padding: 20px 15px;
}

.content {
    padding: 30px 0
}

h3 {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10%;
    padding: 5px;
    margin-bottom: 20px;
}

.task {
    background-color: rgb(29, 60, 235);
    border-color: rgb(29, 60, 235);
}
/* aggiungi sempre una max-width e se la tabella è centrata metti margin 0 auto */
.container {
    max-width: 800px;
    margin-left: 300px;
}

span {
    display: inline-block;
    margin: 10px 10px;
    vertical-align: middle;
}

ul > li {
    vertical-align: middle;
}

ul {
    margin-bottom: 20px;
}

.arrow {
    font-size: 15px;
}

.checkmark {
    font-size: 12px;
    color: #0fc919;
    border-color: #0fc919;  
    border-style: solid; 
    border-width: 1px;
    border-radius: 70%;
    padding: 2px;
}

.cross {
    font-size: 12px;
    color: #c9250fe8;
    border-color: #c9250fe8;  
    border-style: solid; 
    border-width: 1px;
    border-radius: 70%;
    padding: 2px;
}

.editorial {
    background-color: lightblue;
    border: 1px solid;
    border-radius: 40%;
    padding: 10px 15px;
}

.goals {
    background-color: purple;
    border: 1px solid;
    border-radius: 40%;
    padding: 10px 15px;
}

.recruiting {
    background-color: green;
    border: 1px solid;
    border-radius: 40%;
    padding: 10px 15px;
}

.mobile {
    background-color: yellow;
    border: 1px solid;
    border-radius: 40%;
    padding: 10px 15px;
}

.website {
    background-color: pink;
    border: 1px solid;
    border-radius: 40%;
    padding: 10px 15px;
}

.sales {
    background-color: yellowgreen;
    border: 1px solid;
    border-radius: 40%;
    padding: 10px 15px;
}